li{
  text-decoration: none;
  list-style-type:none;
}

body{
  text-align: center;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(237,67,67,1) 50%, rgba(252,176,69,1) 100%);
}



#Winner{
  font-size: 20px;
}

button{
  padding:15px 20px;
  background-color:rgb(217, 179, 243) ;
  border-radius: 5px;
  font-size: 14px;
}
